.row, .thumbnail a, .thumbnail .caption, .carousel-caption  {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size:14px;    
}
.row {
    margin-bottom: 4%;
    margin-right: 0;
    margin-left: 12%;
}
.row.product {
    margin-bottom: 15px;
}
.panel-default {
    margin-top: 30px;
    width: 84%;
    box-shadow: 0;
    border: 1px dotted black;
    outline: none;
}
.thumbnail {
    width: 200px;
    height: 251px;
    padding: 0;
    border: 1px solid black;
    border-radius: 0;
}
.thumbnail a {
    text-align: center;
    text-decoration: none;
}
.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border: 1px solid blue;
}
.thumbnail img {
    width: auto;
    height: auto;
    border-bottom: 1px dotted black;
}
.thumbnail .caption {
    padding: 15px;
    background-color: #EEE;
    text-align: center;
}
.rowc {
    margin-left: 0;
    width: 100%;
}
.col-sm-12 {
    padding: 0;
}
.carousel {  
    margin-top: 51px;
    width: 100%;
}
.carousel img {    
    width: 100%;
    max-height: 400px;
    min-height: 400px;  
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-indicators li {
    visibility: hidden;
}
.carousel-caption {
    top: 75%;
    left: 0;
    padding-left: 80px;
    text-align: left;
    vertical-align: middle;
}
.carousel-caption.top{
    top:0;
    padding-top: 1%;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}
.carousel-control {
    width: 4%;
    background: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    cursor: default;                       
}
.btn-info {
    background: none!important;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    color: #A742F4;
    border-color: #A742F4;
    border-radius: 6px;
    outline: none;
}
@media (max-width: 768px) {
    .row {
        width: 200px;
        margin: auto;
    }
    .col-sm-4 {
        width: 200px;
        height: 252px;
        padding: 0;
        margin: 0;
    }
    .thumbnail {
        width: 200px;
        height: 252px;
        padding: 0;
        border: 1px solid black;
        border-radius: 0;
    }
    .carousel {
        display: none!important;
    }
    .panel-default {
        width: 190px;
    }
}